*/.vscode
.vscode
*/obj
*.out
*.o
*.a
*.json
megaphone
phonebook
braiiiiiiinnnzzzz
zombie_horde
unnecessary_violence
sed_is_for_losers
harl_2.0
harlFilter
my_first_class_in_orthodox_canonical_form
tamufpnc
