*/.vscode
.vscode
*/obj
*.out
*.o
*.a
*.json
megaphone
phonebook
braiiiiiiinnnzzzz
moar_brainz
zombie_horde
hi_this_is_brain
unnecessary_violence
sed_is_for_losers
harl_2.0
harlFilter
mfciocf
tamufpnc
now_were_talking
bsp
clap_trap
scav_trap
frag_trap
diamond_trap
polymorphism